# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build paths and build components

/PiPico/build/

/EspressifESP/build/
/EspressifESP/managed_components/**

/EspressifESPS3/managed_components/**
/EspressifESPS3/build/

/EspressifESPC6/build/
/EspressifESPC6/managed_components/**

