# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.DS_Store

# Keep everything in here local

/unpublished

# CMake build paths and build components

/Firmware/Test/build/
/Firmware/PiPico/build/
/Firmware/NewtCOM/build/

# Not really needed. These directories are included and have no build dir

/Firmware/CPUs/ESP32S3/build/
/Firmware/CPUs/ESP32S3/managed_components/
/Firmware/CPUs/ESP32C6/build/
/Firmware/CPUs/ESP32C6/managed_components/


